[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "orbital-flight-sim"]
	path = orbital-flight-sim
	url = https://github.com/jesuinoazevedo/orbital-flight-sim.git
